h2, h3 {
  font-family: 'Roboto';
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 23px
}


h3 {
  font-size: 18px;
  margin: 10px 0;
}

#administration-h2 {
  margin: 6px 0;
}

#control-panel {
  width: 250px;
  padding: 10px 5px;
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 3px 0;
  width: 80%;
  border-radius: 3px;
  border: 1px solid black;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  padding: 7px 2px;
}


/* D3 Elements */

.solid {
   stroke:solid;
}

.dashed {
   stroke-dasharray: 5,2;
}


/* Intro */

.introjs-tooltiptext {
  font-family: 'Roboto';
  text-align: center;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  width: 300px;
}
